.search{
    width:100%;
}
.search .wrapper{
    max-width: 1000px;
    margin:0 auto;
    padding:10px;
    position: relative;
    text-align: center;
    background:#fff;
}
.search .wrapper .search-bar{
    display: -webkit-flex;
    display: flex;
    margin:0 auto;
    position: relative;
    align-items:center;
    justify-content:center;
}
.search .wrapper .search-bar .search-input{
    padding:10px;
    border:none;
    width:100%;
    background:#f6f6f6;
    height:40px;
    font-size: 14px;
    text-indent: 20px;
    text-align: left;
}

.search .wrapper .search-bar .search-btn{
    border:none;
    position: absolute;
    top:50%;
    font-size: 12px;
    margin-top:-7px;
    color:#999;
    left:10px;
    margin-left:0;
}

.search .wrapper .tips-list{
    width:100%;
    position: absolute;
    top:40px;
    left:0;
}
.search .wrapper .tips-list li{
    line-height: 40px;
    text-align: center;
    // margin-bottom: 10px;
    list-style: none;
    font-size: 14px;
    background:rgba(0, 0, 0, 0.5);
    color:#fff
}
.search .wrapper .tips-list li:nth-of-type(1){
    background: #20a0ff;
}
.search .wrapper .tips-list li:nth-of-type(2){
    background: #13ce66;
}
.search .wrapper .tips-list li:nth-of-type(3){
    background: #f7ba2a;
}
.search .wrapper .tips-list li:nth-of-type(4){
    background: #ff4949;
}
@media screen and  (min-width:768px){
    .search .wrapper{
        padding:20px;
    }
}