.add-article{

}
h1,h2,h3,h4,h5,h6,p,span,pre,code{
    margin:initial;
    padding:initial;
    font-family:initial;
    font-size:initial;
    background:initial;
    color:initial;
}
.add-article .marked textarea:focus{
   ouline:none;
}
.add-article .highlight{
    width:100%;
    margin-top:30px;

}
.add-article .highlight .editor{
    z-index: 10077;
    position: relative;
}
.add-article .highlight > span{
    font-family: "Microsoft Yahei";
}