.add-article{

}
h1,h2,h3,h4,h5,h6,p,span,pre,code{
    // margin:initial;
    // padding:initial;
    // /*font-family:initial;*/
    // font-size:initial;
    // background:initial;
    // color:initial;
}
.add-article .marked textarea:focus{
   ouline:none;
}
.add-article .highlight{
    width:100%;
    margin-top:30px;

}
.add-article .highlight .is-fullscreen{
    z-index: 10077;
    position: relative;
}

.add-article .highlight > span{
    font-family: "Microsoft Yahei";
}
.editor-toolbar.fullscreen{
    width: 100%;
    height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: #fff;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1000 !important;
}
.CodeMirror-fullscreen{
    background: #fff;
    position: fixed!important;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 1000 !important;
}
.btn span{
    color:#fff !important;
}
.upload-btn{
    width:86px;
    height:36px;
    text-align: center;
    line-height: 36px;
     display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid rgb(191, 217, 215);
    color: rgb(31, 61, 58);
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    vertical-align: top;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
}
.upload-btn span{
    width:100%;
    height:100%;
    display: block;
}