* {
    color: #333;
}
a {
    text-decoration: none;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.font-28 {
    font-size: 28px;
}
.font-30 {
    font-size: 30px;
}
.font-36 {
    font-size: 36px;
}
.font-40 {
    font-size: 40px;
}
.font-80 {
    font-size: 80px;
}
.color-green {
    color: #1ABC9C;
}

/* 后退时的状态，从左开始 */
.fadeInLeft-enter{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);

    z-index: 1000;
}
.fadeInLeft-enter-active{
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    /* 不需要添加一下代码，会自动设置为正常正常状态 */
/*    transform: translateX(0%);
    -webkit-transform: translateX(0%);*/
    z-index: 1000;
    opacity: 1;
}
.fadeInLeft-leave{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
.fadeInLeft-leave-active{
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    transform: translateX(100%);
    opacity: .9;
    -webkit-transform: translateX(100%);
}

/* 前进时的初始值状态，从右开始 */
.fadeInRight-enter{
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
/* 从初始值状态到完成进入状态，不需要，也不能设置translate值，因为默认值就是目的位置，只需要设置过渡到时间即可 */
.fadeInRight-enter-active{
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
}
/* 离开时的初始值状态 可以设置某些值，例如设置起始位置*/
.fadeInRight-leave{
    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
}

/* 从离开初始值状态进入完成离开状态 */
.fadeInRight-leave-active{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 300ms;
    opacity: 0;
}




.full-view {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.router-view {
    position: absolute;
    top: 0;
    // padding: 10px;
    left: 0;
    padding-top: 50px;
    height: 100%;
    overflow: auto;
    width: 100%;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}