.header{
	width:100%;
	position: fixed;
	left: 0;
	top: 0;
	border:1px solid #f6f6f6;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 10px;
	height: 49px;
}
.header .logo{
	font-size: 30px;
	font-weight: bold;
	line-height: 49px;
	height:49px;
	flex:1;
}
.header .nav-list{
	overflow: hidden;
	height:49px;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex:6;
}
.header .nav-list a{
	margin-left:20px;
	display: block;
}