.header{
	width:100%;
	position: fixed;
	left: 0;
	background:#fff;
	top: 0;
	border:1px solid #f6f6f6;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 49px;
	z-index: 1001;
}
.header .logo{
	font-size: 30px;
	font-weight: bold;
	line-height: 49px;
	height:49px;
	padding-left:10px;
	flex:1;
	text-align: left;
}
.header .nav-list{
	overflow: hidden;
	height:49px;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex:6;
}

.header .nav-list a{
	margin-left:20px;
	display: block;
}
.header .menu-btn{

}
.header .menu-btn a{
	display: block;
	font-size: 20px;
	padding:10px;
}