.sidebar{
    width:250px;
    position: fixed;
    left:0;
    top:49px;
    z-index: 10;
    height:100%;
    background:#fff;
    box-shadow: 3px 0 5px rgba(0,0,0,.1);
    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 400ms;
    -webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 400ms;
}
.sidebar.hide{
    transform:translate3d(-110%,0,0);
    -webkit-transform:translate3d(-110%,0,0);
}
.sidebar i:before{
    margin-right: 10px;
}