.admin-view{
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    width:100%;
    background:#f6f6f6;
    height:100%;
    padding-top:49px;
}
.el-button--info span, .el-button--danger span, .el-button--warning span{
    color:#fff !important;
}