.article-list{
    background:#fff;
    width:100%;
}
.article-list .item{
    width:100%;
    margin-top:30px;
    margin-bottom:30px;
    padding:20px;
    position: relative;

}
.article-list .item.has-right{
    padding-right: 230px;
}
.article-list .item .left{
    width:100%;
}
.article-list .item .right{
    width:200px;
    height:100%;
    position: absolute;
    right:20px;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    top:20px;
}
.article-list .item:nth-of-type(1){
    margin-top:0;
}
.article-list .item .img{
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    background: #f6f6f6;
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.article-list .item .img img{
    width:100%;
}
.article-list .item .title{
    width:100%;
}
.article-list .item .title h4{
    font-size: 16px;
    text-align: left;
    margin:10px 0;
}
.article-list .item .title .info{
    overflow: hidden;
    margin:10px 0;
}
.article-list .item .title .info span{
    float: left;
    margin-right:20px;
    color:#bbb;
    font-size: 12px;
}
.article-list .item .title .info span:before{
    margin-right: 5px;
}
.article-list .item .title .info a{
    float: right;
    color:#bbb;
    font-size: 12px;
}
.article-list .item .title .info a.active{
    color:#E24C3C
}
.article-list .item .title .info a:before{
    margin-right: 5px;
}
.article-list .item .preview{
    text-align: left;
    color:#999;
    line-height: 22px;
    margin-top:10px;
}
.article-list .item .more{
    width:80px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    background:#1ABC9C;
    display: block;
    font-size: 12px;
    margin-top:20px;

}
.article-list .more-btn{
    width:60%;
    height:40px;
    display: block;
    line-height: 40px;
    text-align: center;
    color:#bdc3c7;
    border-radius: 40px;
    border:1px solid #bdc3c7;
    margin:30px auto;
}